@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: #E3BAD5;
  width: 80%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Playfair Display", sans-serif;
  color: #211A44;
}
body p {
  font-family: "Raleway", sans-serif;
  color: #211A44;
}
@media (max-width: 400px) {
  body {
    width: 100%;
  }
}

#inscriptionF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#inscriptionF h1 {
  text-align: center;
}
#inscriptionF .container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media (max-width: 400px) {
  #inscriptionF .container {
    width: 60%;
  }
}
#inscriptionF .container label {
  font-weight: bold;
}
#inscriptionF .container input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
#inscriptionF .container span {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}
#inscriptionF #valider {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #5C5792;
  color: white;
  font-weight: bold;
}

.confirm h1 {
  text-align: center;
  font-size: 3rem;
}
.confirm p {
  text-align: center;
  font-size: 1.5rem;
}

#connexionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#connexionC .label {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media (max-width: 400px) {
  #connexionC .label {
    width: 60%;
  }
}
#connexionC .label label {
  font-weight: bold;
}
#connexionC .label span {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}
#connexionC .label input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
#connexionC #valider {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #5C5792;
  color: white;
  font-weight: bold;
}

.inscri {
  text-align: center;
}

.containerD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.containerD h1 {
  text-align: center;
  font-size: 3rem;
}
@media (max-width: 400px) {
  .containerD h1 {
    font-size: 2rem;
  }
}
.containerD p {
  text-align: center;
  font-size: 1.5rem;
}
@media (max-width: 400px) {
  .containerD p {
    font-size: 1rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211A44;
  padding: 1rem;
  color: white;
}
@media (max-width: 400px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.titleC {
  font-size: 1.5rem;
  text-align: center;
  color: #211A44;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card .card-corp {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #BE9CC7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 400px) {
  .card {
    width: 80%;
    margin: 1rem auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
.card img {
  width: 50%;
  border-radius: 10px;
  margin-right: 1rem;
  margin: 0 auto;
}
.card h2, .card p {
  text-align: center;
}
.card h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.card .textC {
  font-size: 1.5rem;
  margin-bottom: 0;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.356);
  text-align: center;
  background: rgba(255, 255, 255, 0.342);
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}/*# sourceMappingURL=style.css.map */